@tailwind base;
@tailwind components;
@tailwind utilities;


* {
   @apply duration-200 selection:bg-red-500 selection:text-white    font-medium;
}

body{
  @apply scroll-smooth
}

a {
  @apply text-red-500 hover:text-red-700;
}
 
h1 {
   @apply text-4xl mb-2 font-bold text-gray-800 dark:text-gray-100;
}

h2 {
   @apply text-3xl mb-2 font-bold text-gray-800 dark:text-gray-100;
}

p {
   @apply cursor-default ml-5 text-lg text-gray-700  mb-4;
}


  .Stem-image{
    background-image: url(../../public//images/Home_page.jpg);
    background-position: center;
    background-size: cover;
    
  }
.button-not-found {
  margin: 30px;
  --bg: #000;
  --hover-bg: #7700ff;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button-not-found:hover {
  color: white;
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button-not-found:active {
  transform: translate(0);
  box-shadow: none;
}




/* button in home page */
.button-Home {
  display: flex;
}

.box-Home {
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  transition: all .8s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.box-Home:before {
  content: "W";
  position: absolute;
  top: 0;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform .4s;
}

.box-Home:nth-child(2)::before {
  transform: translateY(-100%);
  content: 'O';
}

.box-Home:nth-child(3)::before {
  content: 'R';
}

.box-Home:nth-child(4)::before {
  transform: translateY(-100%);
  content: 'L';
}

.box-Home:nth-child(5)::before {
  content: 'D';
}

.button-Home:hover .box-Home:before {
  transform: translateY(0);
  
}














 